
.topnav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 15px;
  }
  
  .topnav a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    background-color: grey;
    min-width: 20%;
    text-align: center;
    padding: 14px 16px;
  }
  
  .topnav a.active {
    background-color: #ab1355;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 768px) {
    .topnav a:not(:first-child) {
      display: none;
    }
    .topnav{
        background-color: grey;
    }
    .topnav button.icon {
      display: block;
      color: white;
      background-color: grey;
      border: none;
      
    }
    .topnav.responsive {
      flex-direction: column;
    }
    .topnav.responsive a {
      display: block;
      text-align: left;
    }
  }
  

  .img{
    width: 100vw;
  }
  .contact{
    text-align: center;
    width: 100vw;
    color: white;
    background-color: #ab1355;
     padding: 14px 16px ;
     margin : 15px 0 ;
  }
  .contact > h1{
    padding: 14px 16px ;
  }
  .contact > p{
    padding: 14px 16px ;
  }
  .contact > button{
    padding: 14px 16px ;
    background-color: #ab1355;
    color: white;
    border: 1px white solid;
  }
  .info{
    margin-top: 20px;
    padding: 10px;
  }
  .color{
        color: #ab1355;
  }
  hr{
    margin:30px 0;
  }
  .details{
    text-align: center;
    margin-bottom: 30px;
  }
  .details >h1{
    color: #ab1355;
  }
  
  .footer{
    background-color:grey;
    text-align: center;
   padding: 10px;
   margin: 10px 0;
  }
  .footer > p{
    margin: 0;
  }